[project]
	description = A collection of neutron, os-vif and devstack pluggins to enable support for vhost-vfio with openstack
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Sean Mooney (SeanMooney)
[access "refs/for/refs/*"]
	read = group intel-orchestration-software
	read = group user/Sean Mooney (SeanMooney)
	push = group user/Sean Mooney (SeanMooney)
	label-Code-Review = -2..+2 group intel-orchestration-software
	label-Code-Review = -2..+2 group user/Sean Mooney (SeanMooney)
	label-Verified = -1..+1 group intel-orchestration-software
	label-Verified = -1..+1 group user/Sean Mooney (SeanMooney)
	rebase = group intel-orchestration-software
	rebase = group user/Sean Mooney (SeanMooney)
	removeReviewer = group intel-orchestration-software
	removeReviewer = group user/Sean Mooney (SeanMooney)
	submit = group intel-orchestration-software
	submit = group user/Sean Mooney (SeanMooney)
[access "refs/heads/*"]
	read = group user/Sean Mooney (SeanMooney)
	create = group user/Sean Mooney (SeanMooney)
	push = +force group user/Sean Mooney (SeanMooney)
	pushMerge = group user/Sean Mooney (SeanMooney)
[access "refs/tags/*"]
	push = group user/Sean Mooney (SeanMooney)
	push = +force group user/Sean Mooney (SeanMooney)
[receive]
	requireChangeId = true
	createNewChangeForAllNotInTarget = true
[submit]
	action = rebase if necessary
	mergeContent = true
